* {
    background-color: rgb(235, 255, 235);
    cursor: all-scroll;
}

.grid {
    width: 600px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(235, 255, 235);
}

#menu-esquerdo {
    height: 50vh;
    padding: 10px 10px 10px 10px;
    float: left;
    text-align: center;
}

.elemento {}

.square {
    height: 120px;
    width: 120px;
    border: solid black 1px;
}

.mole {
    background-image: url("toup.jpg");
    background-size: cover;
}

.rodape {
    font-size: smaller;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    margin-left: 80px;
}