.grid {
	width: 600px;
	height: 480px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 120px;
	width: 120px;
	border: solid black 1px;
}

.mole {
	background-image: url("mole.jpg");
	background-size: cover;
}